:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: var(--main-font-family);
  color: #434455;
  background-color: #ffffff;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* ===============Header============= */
.page-header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e7e9fc;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
  margin-right: 76px;
}
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logotextstudio {
  font-family: var(--secondary-font-family);

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  gap: 40px;
}
.list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.list-item:focus,
.list-item:hover,
.list-item:active {
  color: #404bbf;
}
.contact {
  font-style: normal;
  margin-left: auto;
}
.contact-menu {
  display: flex;
  gap: 40px;
}
.mailtel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
  margin-right: 40px;
}
.mailtel:focus,
.mailtel:hover,
.mailtel:active {
  color: #404bbf;
}
/* =================MAIN HERO============ */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.container-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
}
.modal-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
}
.modal-btn:hover,
.modal-btn:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*================ SECTION SECOND============ */
.section-second {
  padding: 120px 0;
}

.tittle-section-second {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}
.menu-section-second {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.item-section-second {
  width: calc((100%-72px) / 4);
}
.text-section-second {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 264px;
}
/* =========SECTION (Third section) What are we doing (Galery)====== */
.section-galery {
  padding-bottom: 120px;
}
.title-section-galery {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.menu-section-galery {
  display: flex;

  gap: 24px;
}

/* ========SECTION OUR TEAM ==========*/
.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.menu-section-team {
  display: flex;
  gap: 24px;
}

.title-section-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;

  margin-bottom: 72px;
}
.item-section-team {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-ttile-section-team {
  padding: 32px 16px;
}
.title-item-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}
.text-item-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
/*========== FOOTER ==========*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: block;
  width: 264px;

  padding-right: auto;
}
.logotextstudio-footer {
  color: #f4f4fd;
}
/*=============== PAGE PORTFOLIO==================== */
/* =====SECTION BUTTON===== */
.services-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.container-services-section {
  border-top: none;
}
.menu-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 72px;
  gap: 24px;
}

.btn-page-portfolio {
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #f4f4fd;
  white-space: nowrap;
  padding: 12px 24px 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}
.btn-page-portfolio:hover,
.btn-page-portfolio:focus {
  color: #ffffff;
  background: #404bbf;
  border: 1px solid transparent;
}
/* =======SECTION GALERY====== */

.menu-galery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.item-galery {
  width: 360px;
  height: 420px;
}

.container-item-galery {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.title-menu-galery {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}
.text-menu-galery {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
